@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background: #F8EDEB;
    color: #F8EDEB;
}

 .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background:#F8EDEB;
 }

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30x; /* Sesuaikan ukuran logo dengan kebutuhan */
  height: 47px;
  margin-bottom: 20px;
}

.logo a {
  color: #741C28;
  text-decoration: none;
  font-size: 16px; /* Sesuaikan ukuran teks dengan kebutuhan*/
  font-weight: 500;
}

 .navbar a{
    font-size: 16px;
    color: #DF8989;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
 }

 .navbar a:hover,
 .navbar a.active {
    color: #741C28;
 }

 /* gamabr video */
 .img-container {
    text-align: center;
    margin-top: 120px; /* jarak antara navbar dan highlight */
}

.img-container img {
    width: 1100px; /* agar gambar highlight mencakup lebar halaman */
    height: 500px; /* lebar maksimum gambar highlight */
}


/* ini button play */
.img-container a i {
    font-size: 150px;
    color: #000;
  }


  .img-container .bx-play-circle{
    position: absolute;
    transform: translateX(-610px) translateY(150px);
  }
  
  /* textnya */
  .text{
    color: black;
    margin-top: 17px;
  }

  .text h4{
    font-size: 34px;
    text-align: center;
    margin-right: 10px;
  }

  .text .judul {
    margin-top: 20px;
    max-width: 107px;
    font-size: 24px;
    margin-left: 195px;
  }
  

  .text .isi {
    font-size: 24px;
    text-align: left;
    max-width: 1100px;
    margin-left: 195px;
  }

  /* button sebelumnya atau back */
.btn-back{
    margin-right: 100px;
    margin-top: 57px;
    padding: 10px 20px; /* Sesuaikan dengan kebutuhan Anda */
    background-color: #6A523A; /* Sesuaikan dengan warna latar belakang tombol */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    float: right; /* Menentukan posisi tombol ke kanan */
    font-weight: bold;
    font-size: 23px;
}

.btn-back:hover {
    background-color: #cf94a8; /* Sesuaikan dengan warna latar belakang tombol saat dihover */
}